In [2]:
# Import libraries 
import pandas as pd
import numpy as np
from pathlib import Path

# Read all static csv files from Kaggle into dataframes

In [4]:
# read csv files into dataframes
city_file = Path("weather_datasets/city_attributes.csv")
city_df = pd.read_csv(city_file)

hum_file = Path("weather_datasets/humidity.csv")
hum_df = pd.read_csv(hum_file)

pres_file = Path("weather_datasets/pressure.csv")
pres_df = pd.read_csv(pres_file)

temp_file = Path("weather_datasets/temperature.csv")
temp_df = pd.read_csv(temp_file)

wea_file = Path("weather_datasets/weather_description.csv")
wea_df = pd.read_csv(wea_file)

windir_file = Path("weather_datasets/wind_direction.csv")
windir_df = pd.read_csv(windir_file)

windsp_file = Path("weather_datasets/wind_speed.csv")
windsp_df = pd.read_csv(windsp_file)

city_df.head()

            City        Country   Latitude   Longitude
0      Vancouver         Canada  49.249660 -123.119339
1       Portland  United States  45.523449 -122.676208
2  San Francisco  United States  37.774929 -122.419418
3        Seattle  United States  47.606209 -122.332069
4    Los Angeles  United States  34.052231 -118.243683

In [5]:
# read all "Philadelphia" data into one dataframe             
philly_df = pd.DataFrame([hum_df.datetime, hum_df.Philadelphia,
                          pres_df.Philadelphia, temp_df.Philadelphia,
                          windir_df.Philadelphia, windsp_df.Philadelphia, wea_df.Philadelphia,]).transpose()

columns = ["datetime", "humidity", "pressure", "temperature", "wind-direction", "wind-speed", "weather-description"]
philly_df.columns = columns
philly_df.set_index(pd.to_datetime(philly_df['datetime'], infer_datetime_format=True), inplace=True)
philly_df.drop(columns=['datetime'], inplace=True)
philly_df.head(20)

,humidity,pressure,temperature,wind-direction,wind-speed,weather-description
datetime,,,,,,
2012-10-01 12:00:00,NaN,NaN,NaN,NaN,NaN,NaN
2012-10-01 13:00:00,71.0,1014.0,285.63,270.0,4.0,broken clouds
2012-10-01 14:00:00,70.0,1014.0,285.663208,270.0,4.0,broken clouds
2012-10-01 15:00:00,70.0,1014.0,285.756824,271.0,3.0,broken clouds
2012-10-01 16:00:00,69.0,1014.0,285.85044,272.0,3.0,broken clouds
2012-10-01 17:00:00,69.0,1014.0,285.944057,274.0,3.0,broken clouds
2012-10-01 18:00:00,68.0,1014.0,286.037673,275.0,3.0,broken clouds
2012-10-01 19:00:00,68.0,1014.0,286.13129,276.0,3.0,broken clouds
2012-10-01 20:00:00,67.0,1014.0,286.224906,277.0,3.0,broken clouds
2012-10-01 21:00:00,67.0,1014.0,286.318522,279.0,3.0,broken clouds
2012-10-01 22:00:00,66.0,1014.0,286.412139,280.0,3.0,broken clouds
2012-10-01 23:00:00,66.0,1014.0,286.505755,281.0,3.0,broken clouds
2012-10-02 00:00:00,65.0,1014.0,286.599371,282.0,2.0,broken clouds
2012-10-02 01:00:00,65.0,1014.0,286.692988,283.0,2.0,broken clouds
2012-10-02 02:00:00,64.0,1014.0,286.786604,285.0,2.0,broken clouds
2012-10-02 03:00:00,64.0,1014.0,286.88022,286.0,2.0,broken clouds
2012-10-02 04:00:00,63.0,1014.0,286.973837,287.0,2.0,broken clouds
2012-10-02 05:00:00,63.0,1014.0,287.067453,288.0,2.0,broken clouds
2012-10-02 06:00:00,62.0,1014.0,287.161069,290.0,2.0,broken clouds
2012-10-02 07:00:00,62.0,1014.0,287.254686,291.0,2.0,broken clouds

In [7]:
philly_df.dropna(inplace=True)
philly_df.isnull().sum()

humidity               0
pressure               0
temperature            0
wind-direction         0
wind-speed             0
weather-description    0
dtype: int64

In [9]:
philly_df.to_csv("philly_weather.csv")